.header-list--lib {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;

  
}
.header-list--lib__btn-watched,
.header-list--lib__btn-queue {
  width: 130px;
  height: 44px;
  text-transform: uppercase;
  color: $main-white;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  border-radius: 5px;
  border: 1px solid $main-white;
  background-color: transparent;

  @media screen and (min-width: 768px) {
    width: 152px;
  }
  @media screen and (min-width: 1280px) {
    width: 148px;
    height: 42px;
  }
}
