<main>

    <div class="pagination">
        <button class="left-arrow" data-action="left-arrow"></button>
        <button class="first is-active" data-action="first">1</button>
        <button class="left-dots" data-action="left-dots">2</button>
        <button class="pagination-btn" data-action="first-trigger">3</button>
        <button class="pagination-btn" data-action="sec-trigger">4</button>
        <button class="pagination-btn" data-action="third-trigger">5</button>
        <button class="pagination-btn" data-action="major-trigger">6</button>
        <button class="pagination-btn" data-action="fourth-trigger">7</button>
        <button class="right-dots" data-action="right-dots">...</button>
        <button class="end-of-pag" data-action="end-of-page">20</button>
        <button class="right-arrow" data-action="right-arrow">

        </button>
    </div>

    <div class="container main-container">

    </div>




    <div class="modal visibility">
        <div class="modal-window" id="checking">
            <button class="btn-close" type="button">
                <svg class="btn-close__svg" width="30" height="30">
                    <use href="./images/symbol-defs.svg#icon-close"></use>
                </svg>
            </button>
            <div class="clearing-modal">

            </div>
        </div>
        <div class="overlay"></div>
    </div>

</main>