<main>

    <div class="pagination">
        <button class="pagination-btn" data-action="left-arrow">
            <svg class="pagination-svg" width="16" height="16">
                <use href="./images/symbol-defs.svg#icon-arrow-left"></use>
            </svg>
        </button>
        <button class="pagination-btn" data-action="first">1</button>
        <button class="pagination-btn" data-action="left-dots">2</button>
        <button class="pagination-btn" data-action="first-tigger">3</button>
        <button class="pagination-btn" data-action="sec-tigger">4</button>
        <button class="pagination-btn" data-action="major-tigger">5</button>
        <button class="pagination-btn" data-action="third-tigger">6</button>
        <button class="pagination-btn" data-action="fourth-tigger">7</button>
        <button class="pagination-btn" data-action="right-dots">...</button>
        <button class="pagination-btn" data-action="end-of-page">20</button>
        <button class="pagination-btn" data-action="right-arrow">
            <svg class="pagination-svg" width="16" height="16">
                <use href="./images/symbol-defs.svg#icon-arrow-right"></use>
            </svg>
        </button>
    </div>

    <div class="container main-container">

    </div>




    <div class="modal visibility">
        <div class="modal-window" id="checking">
            <button class="btn-close" type="button">
                <svg class="btn-close__svg" width="30" height="30">
                    <use href="./images/symbol-defs.svg#icon-close"></use>
                </svg>
            </button>
            <div class="clearing-modal">

            </div>
        </div>
        <div class="overlay"></div>
    </div>

</main>