.bgc-home-image {
  max-width: 480px;
  max-height: 230px;
  padding-bottom: 92px;
  padding-top: 40px;

  background-image: url('../images/home-png/abstract-red-mob@1x.png');

  background-color: rgba(0, 0, 0, 0.56);
  background-size: cover;
  background-repeat: no-repeat;
}
@media (min-resolution: 2dppx) {
  .bgc-home-image {
    background-image: url('../images/home-png/abstract-red-mob@1x.png');
  }
}
@media screen and (min-width: 768px) {
  .bgc-home-image {
    background-image: url('../images/home-png/abstract-red-tab@1x.png');
    max-width: 768px;
  }
  @media (min-resolution: 2dppx) {
    .bgc-home-image {
      background-image: url('../images/home-png/abstract-red-mob@2x.png');
    }
  }
}

@media screen and (min-width: 1280px) {
  .bgc-home-image {
    background-image: url('../images/home-png/abstract-red-dec@1x.png');
    max-width: 1280px;
    max-height: 216px;
  }
  @media (min-resolution: 2dppx) {
    .bgc-home-image {
      background-image: url('../images/home-png/abstract-red-dec@2x.png');
    }
  }
}
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-list {
  display: flex;
  justify-content: flex-end;
  gap: 39px;
}

.header-list__link {
  color: $main-white;
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
}
.header-link {
  height: 24px;
  color: $main-white;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  display: flex;
  align-items: center;
  gap: 8;
}
.header-link__logo-name {
  display: none;
  @media screen and (min-width: 768px) {
    display: block;
  }
}
.header-form {
  position: relative;
  overflow: hidden;
  width: 394px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}
// border-bottom: 0.5px solid #ffffff;
.anim-for-input {
}

.anim-for-input::before {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 1px;
  border-radius: 2px;
  background-color: $main-white;
  transform: translateX(-101%);
  transition: transform 450ms cubic-bezier(0.4, 0, 0.2, 1);
}
.anim-for-input:hover::before {
  transform: translateX(0);
}

.header-form__input {
  position: relative;
  &::placeholder {
    color: $main-white;
  }

  color: $main-white;
  width: 100%;
  background-color: transparent;
  border: 0;

  @media screen and (min-width: 768px) {
    width: 336px;
  }
  @media screen and (min-width: 1280px) {
    width: 394px;
  }
}
.header-form__btn {
  position: absolute;
  top: 0;
  left: 96%;
  background-color: transparent;
  border: 0;
  @media screen and (min-width: 768px) {
    left: 96%;
  }
  @media screen and (min-width: 1280px) {
    left: 380px;
  }
}

.current-page {
  &::after {
    content: '';
    display: block;
    left: 300px;
    height: 2px;
    width: 35px;
    background-color: $main-red;
  }
}
